.container {
  width: 50%;
  border-radius: 20px;
  background-color: white;
  top: 5rem;
  position: relative;
  left: 400px;
  display: flex;
  flex-direction: row;
}

input {
  width: 90%;
  height: 80%;
  outline: none;
  border: none;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-left: 40px;
  font-size: 32px;
  font-weight: 400;
  font-family: "Inter";
}

input:focus {
  outline: none;
}

.search-bar {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 42px;
  cursor: pointer;
}
