.product-container {
  display: flex;
  flex-direction: column;
}
.model-img {
  width: 209px;
  height: 250px;
}

.products-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 15rem;
  margin-left: 5rem;
}

.product-container {
  position: relative;
  overflow: hidden;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
  width: 22px;
  height: 22px;
}

.viewProducts {
  width: 100%;
  position: absolute;
  top: 61%;
  height: 15%;
  color: white;
  background: rgba(109, 132, 255, 0.71);
  text-align: center;
  display: none;
}
.text-viewProducts {
  position: absolute;
  top: 7px;
  left: 60px;
}

.product-container {
  position: relative;
}

.product-container:hover .viewProducts {
  display: block;
}

.text-viewProducts {
  color: white;
}

.price-data {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #6d84ff;
  margin-top: 12px;
}

.cross-price {
  text-decoration: line-through grey;
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.products-name{
  margin-top: 20px;
}

.NoDataFound{
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  margin-top: 350px;
  margin-left: 300px;
  color: red;
}