.suggestion-box-container {
  width: 55%;
  background-color: white;
  margin-top: 6.1rem;
  margin-left: 22rem;
}
.suggestion-title {
  font-size: 22px;
  font-weight: 500;
}

.suggestion-list {
  text-align: left;
  padding: 40px;
}

.model-image {
  margin-top: 24px;
  width: 165px;
  height: 223px;
}

.suggestion-model {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.row-property {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 40px;
}

.suggestion-name {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.suggestion-items {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.suggestion-items span {
  font-size: 16px;
  font-weight: 400;
}
