.App {
  text-align: center;
  background-image: url("./utils/home-background-image.jpeg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}


.zevi-logo{
  position: absolute;
  right: 2rem;
  top: 2rem;
}
 
